/**------------- FONTS --------------**/
/*-- KARLA --*/
/* BOLD */
@font-face {
    font-family:"karlabold";
    src: url("./karla/Karla-Bold.ttf");
}
/* REGULAR */
@font-face {
    font-family:("karlaregular");
    src: url("./karla/Karla-Regular.ttf");
}
/* MEDIUM */
@font-face {
    font-family:("karlamedium");
    src: url("./karla/Karla-Medium.ttf");
}
/*-- PLAYER DISPLAY --*/
/* BOLD */
@font-face {
    font-family:"playerbold";
    src: url("./player-display/PlayfairDisplay-Bold.ttf");
}
/* MEDIUM */
@font-face {
    font-family:"playermedium";
    src: url("./player-display/PlayfairDisplay-Medium.ttf");
}
/*-- POPPINS --*/
/* REGULAR */
@font-face {
    font-family:"poppinsregular";
    src: url("./poppins/Poppins-Regular.ttf");
}
/*-----------------------------------------------------------*/