// BOUTON SECONDARY
@use "../../abstracts/colors" as *;
@use "../../abstracts/typography" as *;
@use "../../abstracts/mixins" as *;
//--------------------------------------//
//
// BOUTON SECONDARY
.button-secondary {
    
    a {
        background-color: $primaryColor;
        color: $ColorBTNSecondary;
        //font-family: $KarlaRegular;
        font-size: 30px;
        padding: 15px 29px;
        border-radius: 6px;
        text-transform:capitalize;
    }
}
//--------------------------------------//