// VARIABLES COULEURS
$primaryColor : #363A2B;
$SecondaryColor : #4F6234;
$TertiaryColor : #D9C7B3;
$InputColor : #E1D2C2;
//BACKGROUND
$BackgroundFormPageBlock : #000000c7;
$BackgroundColorPage : #E5E0DC;
$BackgroundColorForm : #dba9a9;
// COLORS TXT
$ColorCardsSlider : #E5E0DC;
$ColorCardsSliderDescript : #FFFFFF;
$ColorBTNPrimary : #FFFFFF;
$ColorBTNSecondary : #FFFFFF;
$ColorBTNTertiary : #ffffff;
$ColorFooter : #FFFFFF;
$ColorFormPageHome : #000000; 
$ColorH2OffresFeu : #000000;
$ColorDetailOffreFeu : #000000;
$ColorTxtContact : #000000;
$ColorFormPageBlock : #ffffffd8;
$ColorFormInput :#656366;
$ColorHeaderPageForm : #000000ab;
$ColortitleForm : #FFFFFF;
$ColortxtForm : #FFFFFF;
//----------------------------------//