//-- DECLARATION VARIABLES FONTS
$KarlaBold : "karlabold";
$KarlaRegular : "karlaregular";
$KarlaMedium : "karlamedium";
//-----------------------------//
$DisplayBold : "playerbold";
$DisplayMedium : "playermedium";
//-----------------------------//
$PoppinsRegular : "poppinsregular";
//-----------------------------//